<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>个人中心</title>
    <link rel="stylesheet" type="text/css" href="__CSS__/style.css"/>
</head>
<body>
<div class="layerCon bg_f">
    <h4>个人中心----->资料修改</h4>
    <table class="layerTable" border="0">
        <tr class="h30">
            <td>昵称：</td>
            <td colspan="5">
                <input class="must" type="text" name="p_nickname" id="p_nickname" value="{$admininfo.p_nickname}" />
            </td>
        </tr>
        <tr class="h30">
            <td>地址：</td>
            <td colspan="5">
                <input class="must" type="text" name="p_address" id="p_address" value="{$admininfo.p_address}" />
            </td>
        </tr>
        <div class="layerBtns">
            <a class="btn"  id="ajaxmodify">修改</a>
        </div>
    </table>
</div>
<script src="__JS__/jquery2-1-4.min.js" type="text/javascript" charset="utf-8"></script>
<script src="__LAYER__/layer.js" type="text/javascript" charset="utf-8"></script>
<script src="__JS__/htglxt.js" type="text/javascript" charset="utf-8"></script>
<script src="__JS__/iframe.js" type="text/javascript" charset="utf-8"></script>
<script src="__JS__/jquery.treetable.js" type="text/javascript" charset="utf-8"></script>
<script src="__JS__/ajax-submit.js"></script>
<script>
    /*================ajax修改====================*/
    $(function(){
        $("#ajaxmodify").click(function(){
            var a_nikename = $("#a_nikename").val();
            var a_realname = $("#a_realname").val();
            var a_phone = $("#a_phone").val();
            var a_email = $("#a_email").val();
            var data = {
                'a_nikename':a_nikename,
                'a_realname':a_realname,
                'a_phone':a_phone,
                'a_email':a_email,
            };
            console.log(data);
            var index = layer.load({ shade: [0.5, '#fff'] });
            $.ajax({
                type: "post",
                url: "{:U('index/PersonalCenter')}",
                data: data,
                dataType: "json",
                success: function (e) {
                    layer.close(index);
                    if (e.status == 1) {
                        layer.msg(e.info);
                        window.parent.location.reload();
                    }
                    if(e.status == 0){
                        layer.msg(e.info);
                    }
                },
                error: function () {
                    layer.close(index);
                    layer.alert('操作失败！');
                }
            });
        })
    })
</script>
</body>
</html>