<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>师傅施工类型审核</title>
    <link rel="stylesheet" type="text/css" href="__CSS__/style.css"/>
    <script src="__JS__/jquery2-1-4.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="__LAYER__/layer.js" type="text/javascript" charset="utf-8"></script>
    <script src="__JS__/htglxt.js" type="text/javascript" charset="utf-8"></script>
    <script src="__JS__/iframe.js" type="text/javascript" charset="utf-8"></script>
    <script src="__JS__/ajax-submit.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
<h4>师傅施工类型审核</h4>
<div class="toolsBar">
    <!--fgf为工具栏分隔符，刷新没有，离开都有。中间工具每一类第一个添加fgf-->
    <ul>
        <li onclick="reloadPage(window)">
            <img src="__IMG__/arrow_refresh.png"/>
            重置
        </li>
        <li class="fgf" onclick="layerDiv('查询',$('#search-form-div').html(),'500px','300px')">
            <img src="__IMG__/page_white_magnify.png"/>
            查询
        </li>
        <li class="fgf js-ajax-form-btn" data-form="js-ajax-form"
            data-action="{:U('status_modify',array('action'=>'on'))}">
            <img src="__IMG__/enable.png"/>
            批量通过
        </li>
        <li class="fgf js-ajax-form-btn" data-form="js-ajax-form"
            data-action="{:U('status_modify',array('action'=>'off'))}">
            <img src="__IMG__/unable.png"/>
            批量拒绝
        </li>
    </ul>
</div>
<div class="tableCon">
    <div style="visibility: hidden;display: none;">
        <div id="search-form-div">
            <form action="__ACTION__" method="post" id="search-form" class="layui-form">
                <div class="layerCon bg_f">
                    <table class="layerTable" border="0">
                        <tr class="h50">
                            <td><label for="uid_name">师傅：</label></td>
                            <td>
                                <input id="uid_name" type="text" name="uid_name" value="{$uidname}"/>
                            </td>
                        </tr>
                        <tr class="h50">
                            <td><label for="ctr_state">申请状态：</label></td>
                            <td>
                                <select  id="ctr_state"  name="ctr_state">
                                    <option value="">=====无=====</option>
                                    <option value="0" <eq name="ctrstate" value="0">selected</eq>>申请</option>
                                    <option value="1" <eq name="ctrstate" value="1">selected</eq>>通过</option>
                                    <option value="2" <eq name="ctrstate" value="2">selected</eq>>拒绝</option>
                                </select>
                            </td>
                        </tr>
                    </table>
                    <div class="layerBtns">
                        <button class="btn" type="submit">提交</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <em class="xian"></em>
    <form action="{:U('sort')}" method="post" class="js-ajax-form" id="js-ajax-form">
        <table class="table" border="0">
            <thead>
            <tr class="noSelect">
                <th class="tc" width="35px">
                    <input class="va_m" type="checkbox" name="" id="allCheck" value="" data-falg="allCheck" onclick="checkBoxOp(this)"/>
                </th>
                <th width="40">ID</th>
                <th>师傅</th>
                <th>申请时间</th>
                <th>申请状态</th>
                <th>施工类型</th>
            </tr>
            </thead>
            <tbody>
            <volist name="constructiontypereviewed_info" id="info">
                <tr>
                    <td>
                        <input class="va_m" type="checkbox" name="ids[]" value="{$info.ctr_id}" onclick="checkBoxOp(this)" />
                    </td>
                    <td>{$info.ctr_id}</td>
                    <td>{$info.uid_name}</td>
                    <td>{$info.ctr_time}</td>
                    <td><eq name="info.ctr_state" value="0">申请</eq><eq name="info.ctr_state" value="1">通过</eq><eq name="info.ctr_state" value="2">拒绝</eq></td>
                    <td>{$info.ctid_name}</td>
                     </tr>
            </volist>
            </tbody>
        </table>
    </form>
</div>
<div class="pageCon">
    {$page_bar}       每页 20 条，共 {$count} 条
</div>

<script>
    $(function () {
        $('.pageCon').find('a').on('click',function () {
            $('#search-form').attr('action',$(this).attr('href')).submit();
            return false;
        });

    });

    /* 重载页面 */
    function reloadPage(win) {
        var location = win.location;
        location.href = location.pathname + location.search;
    }
</script>
</body>
</html>
