<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>装修报价类型</title>
    <link rel="stylesheet" type="text/css" href="__CSS__/style.css"/>
    <link rel="stylesheet" type="text/css" href="__LAYER__/skin/default/layer.css"/>
</head>
<body>
<form action="<empty name="info">{:U('insert')}<else/>{:U('modify')}</empty>" method="post" class="js-ajax-form">
<div class="layerCon bg_f">
    <table class="layerTable" border="0">
        <input type="hidden" name="qc_id" value="{$info.qc_id}">
        <tr class="h50">
            <td>报价名称：</td>
            <td colspan="5">
                <input class="must" type="text" name="qc_title" id="" value="{$info.qc_title}"  placeholder="请输入报价名称"/>
            </td>
            <td>价格：</td>
            <td colspan="5">
                <input class="must" type="text" name="qc_price" id="" value="{$info.qc_price}"  placeholder="请输入价格"/>
            </td>
        </tr>
        <tr class="h50">
            <td>类型：</td>
            <td colspan="5">
                <select name="qc_type" id="qc_type" >
                    <option value="10000" <eq name="info.qc_type" value="10000">selected</eq>>地区</option>
                    <option value="20000" <eq name="info.qc_type" value="20000">selected</eq>>面积</option>
                    <option value="30000" <eq name="info.qc_type" value="30000">selected</eq>>厅</option>
                    <option value="40000" <eq name="info.qc_type" value="40000">selected</eq>>室</option>
                    <option value="50000" <eq name="info.qc_type" value="50000">selected</eq>>卫</option>
                    <option value="60000" <eq name="info.qc_type" value="60000">selected</eq>>风格</option>
                </select>
            </td>
            <td>状态：</td>
            <td colspan="5">
                <label style="display:inline-block;"><input  type="radio" name="qc_state" style="width: 15px;height: 15px;" value="1" <eq name="info.qc_state" value="1">checked</eq>/>启用</label>
                <label style="display:inline-block;"><input  type="radio" name="qc_state" style="width: 15px;height: 15px;" value="0" <eq name="info.qc_state" value="0">checked</eq> />停用</label>
            </td>
        </tr>
    </table>
</div>
<div class="layerBtns">
    <a class="btn js-ajax-form-btn layui-btn" data-layer="true" >提交</a>
</div>
</form>
<script src="__JS__/jquery2-1-4.min.js" type="text/javascript" charset="utf-8"></script>
<script src="__LAYER__/layer.js" type="text/javascript" charset="utf-8"></script>
<script src="__JS__/htglxt.js" type="text/javascript" charset="utf-8"></script>
<script src="__JS__/iframe.js" type="text/javascript" charset="utf-8"></script>
<script src="__JS__/jquery.treetable.js" type="text/javascript" charset="utf-8"></script>
<script src="__JS__/ajax-submit.js"></script>
<script type="text/javascript">
    var layerNav = $(".layerNav a");
    var lytbCon = $(".lytbCon");
    $(layerNav).each(function(index, e) {
        $(e).click(function() {
            $(this).addClass("on").siblings().removeClass("on");
            $(lytbCon).eq(index).addClass("on").siblings().removeClass("on");
        });
    });
    $("#example-advanced").treetable({
        expandable : true
    });
    //    $('input').on('change',function () {
    //        checkbox_change($(this));
    //    }) ;

</script>
</body>
</html>