<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>案例-修改</title>
    <link rel="stylesheet" type="text/css" href="__CSS__/style.css"/>
    <link rel="stylesheet" type="text/css" href="__CSS__/button.css"/>
    <script src="__JS__/jquery2-1-4.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="__LAYER__/layer.js" type="text/javascript" charset="utf-8"></script>
    <script src="__JS__/htglxt.js" type="text/javascript" charset="utf-8"></script>
    <script src="__JS__/iframe.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
<div class="layerCon bg_f">
    <form action="{:U('detail')}" method="get">
        <div><span>选择设计师：</span><br/>
            <input type="text" name="d_name" id="d_name" value="{$dname}" placeholder="请输入设计师姓名"><button class="btn" type="submit">搜索</button><hr/>
        </div>
        <table class="table" border="0" width="100%">
            <thead>
            <tr class="noSelect">
                <th class="tc" width="35px">
                    <input class="va_m" type="radio" name="" value=""/>
                </th>
                <th width="10%">ID</th>
                <th>设计师姓名</th>
                <th>头像</th>
            </tr>
            </thead>
            <tbody>
            <volist name="pcdesigner" id="info">
                <tr>
                    <td>
                        <input class="va_m d_id" type="radio" name="d_id" value="{$info.d_id}" <eq name="info.d_id" value="$renovation_info.r_did">checked</eq>/>
                    </td>
                    <td>{$info.d_id}</td>
                    <td>{$info.d_name}</td>
                    <td>{$info.d_name}</td>
                </tr>
            </volist>
            </tbody>
        </table>
        <div class="pageCon">
            {$page_bar}       每页 5 条，共 {$count} 条
        </div>
        <hr/>
    <br/>
    <table class="layerTable" border="0">
        <input type="hidden" name="r_id" id="ridtxt" value="{$renovation_info.r_id}">
        <input type="hidden" name="r_time" id="timetxt" value="{$renovation_info.r_time}">
        <tr class="h30">
            <td>标题：</td>
            <td colspan="5">
                <input class="must" type="text" name="r_title" id="titletxt" value="{$renovation_info.r_title}" />
            </td>
            <td>是否显示：</td>
            <td colspan="5">
                <select class="select"  id="statetxt" name="r_state">
                    <option value="true" <eq name="renovation_info.r_state" value="1">selected</eq> >显示</option>
                    <option value="false" <eq name="renovation_info.r_state" value="0">selected</eq>>隐藏</option>
                </select>
            </td>
        </tr>
        <tr class="h30">
            <td>楼盘：</td>
            <td colspan="5">
                <input type="text" name="r_estate" id="estatetxt" value="{$renovation_info.r_estate}" />
            </td>
            <td>面积：</td>
            <td colspan="5">
                <input type="text" name="r_has" id="hastxt" value="{$renovation_info.r_has}" />m²
            </td>
        </tr>
        <tr  class="h50">
            <td>案例类型：</td>
            <td style="margin:0px; padding: 0px;" colspan="11">
                            <volist name="renovationtype_father" id="father_info">
                                    <label style=" display:block;"><input type="checkbox" value="{$father_info.rt_id}" id="rtidtxt" class="rtids parent"   name="parent" data-pid="{$father_info.rt_id}" checked  style="display: inline-block;width: 15px;height: 15px;" /><a style="display: inline-block;">{$father_info.rt_name}</a></label>
                                <volist name="renovationtype_child" id="child_info">
                                    <eq name="child_info.rt_pid" value="$father_info.rt_id">
                                        <label style="display:inline-block;">
                                            <input type="radio" value="{$child_info.rt_id}" id="rtpidtxt" class="rtids"  style="display: inline-block !important;width: 15px;height: 15px;" name="child-{$father_info.rt_id}"
                                                   data-pid="{$child_info.rt_pid}" <php> if(strpos($renovation_info['r_rtid'],$child_info['rt_id'])!==false){echo "checked";} </php> />
                                            <a  style="display: inline-block !important;">{$child_info.rt_name}</a></label>
                                    </eq>
                                </volist>
                          </volist>
            </td>
        </tr>
        <tr class="h50">
            <td>视频地址：</td>
            <td colspan="11">
                <input type="text" name="r_shipin" id="r_shipin" value="{$renovation_info.r_shipin}" />
            </td>
        </tr>
        <tr class="h30">
            <td>介绍：</td>
            <td colspan="11" style="padding: 0;">
                    <textarea id="labeltxt" name="r_label"  cols="10" rows="3">{$renovation_info.r_label}</textarea>
            </td>
        </tr>
        <tr class="h30">
            <td>内容：</td>
            <td colspan="11" style="padding: 0;">
                    <textarea  id="contenttxt" name="r_content" style="width: 100%; height: 300px;">{$renovation_info.r_content}</textarea>
            </td>
        </tr>
        <tr class="h30">
            <td>缩略图：</td>
            <td colspan="11">
                <form  enctype="multipart/form-data" method="post" id="img1">
                    <div id="imgadd"   style="margin-top:20px;width: 520px;">
                        <volist name="imglist" id="imglists">
                            <img src='{$imglists}'   width='150px;' height='150px;'  style='float:left;margin:0 0 0 0px;'>
                            <img src='__IMG__/trash.png' class='delthis' style='float:left;margin-top:0px;margin-right: 2px;'>
                        </volist>
                    </div>
                </form>
            </td>
        </tr>
        <tr class="h30">
            <td>左边为400*400，<br/>右边为800*800：</td>
            <td colspan="11">
                <form  enctype="multipart/form-data" method="post">
                    <div id="abbreviatedimg" style="width: 320px;">
                            <for start="0" end="$imglength">
                            <img src='{$renovationimg_ids1.$i}'   width='150px;' height='150px;'  style='float:left;margin:0 0 0 0px;'>
                            <img src='/Public/img/trash.png' class='delthis2' style='float:left;margin-top:0px;margin-right: 2px;'>
                            <img src='{$renovationimg_ids2.$i}'   width='150px;' height='150px;'  style='float:left;margin:0 180 0 150px;'>
                            </for>
                    </div>
                </form>
            </td>
        </tr>
        <tr class="h30">
            <td>图片集合：</td>
            <td colspan="11">
                <form  enctype="multipart/form-data" method="post" id="img2">
                    <div id="imgadd1"  style="margin-top:10px;width: 520px;">
                        <volist name="quanxilist" id="quanxilists">
                            <img src='{$quanxilists}'   width='150px;' height='150px;'  style='float:left;margin:0 0 0 0px;'>
                            <img src='__IMG__/trash.png' class='delthis' style='float:left;margin-top:0px;margin-right: 2px;'>
                        </volist>
                    </div>
                </form>
            </td>
        </tr>
        <tr class="h25"></tr>
    </table>
    </form>
</div>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/kindeditor-4.1.10/themes/default/default.css"/>
<script type="text/javascript" charset="utf-8" src="__PUBLIC__/kindeditor-4.1.10/kindeditor.js"></script>
<script type="text/javascript" charset="utf-8" src="__PUBLIC__/kindeditor-4.1.10/lang/zh_CN.js"></script>
<script type="text/javascript" charset="utf-8" src="__PUBLIC__/kindeditor-4.1.10/plugins/code/prettify.js"></script>
<script type="text/javascript">
    var editor1;
    var editor_imgs;
    KindEditor.ready(function (K) {
        editor1 =kd('#contenttxt',K);
        editor_imgs = kdimg(K);
        K('#tianjiatupian').click(function () {
            editor_imgs.loadPlugin('image', function () {
                editor_imgs.plugin.imageDialog({
                    imageUrl: "",
                    clickFn: function (url, title, width, height, border, align) {
                        K("#tupiandiv").append("<div class=\"img\"><img class=\"w_100 h_100\" src=\"" + url + "\" /><p><span onclick=\"editormove(this,1)\">左移</span><span onclick=\"editormove(this,0)\">删除</span><span onclick=\"editormove(this,2)\">右移</span></p></div>");
                        editor_imgs.hideDialog();
                    }
                });
            });
        });
    });


    $("input[type=checkbox]").change(function () {
        if ($(this).get(0).checked) {
            $("input[data-pid=" + $(this).val() + "]").prop("checked", true);
        } else {
            $("input[data-pid=" + $(this).val() + "]").prop("checked", false);
        }
    });
    $("input[type=radio]").change(function () {
        if ($(this).get(0).parent().checked) {
            $("input[data-pid=" + $("#rtidtxt").val() + "]").prop("checked", true);
        }
    });

    $("#imgadd").on("click",'.delthis',function(){
        $(this).prev().remove(); $(this).remove();$("#abbreviatedimg").find("img").remove();
    });
    $("#abbreviatedimg").on("click",'.delthis2',function(){
        $(this).prev().remove(); $(this).next().remove();$(this).remove();
    });




</script>
</body>
</html>